In [91]:
#Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [92]:
# read the dataset
data = pd.read_csv('housing.csv')
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [93]:
#Identify The Categorical And The Numerical Values Of The Dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [94]:
# Normalize the X_train and X_test, in order for all data to be in the same scale
sc = StandardScaler()
data_new = sc.fit_transform(data.drop("ocean_proximity",axis=1)) # Column "ocean_proximity" is not scaled because of the categorical values

In [95]:
# One - Hot encoding the output varriable (label)
vector = pd.get_dummies(data['ocean_proximity'])

In [96]:
# Adding the new columns to the dataset
data = pd.concat([data,vector], axis=1)

In [97]:
#Drop the useles column ocean_proximity
data.drop('ocean_proximity',axis=1,inplace=True)

In [98]:
#Subtitute the NaN values with median-value of the column(in our case only for the column "total_bedrooms")
data.fillna(data.median(), inplace=True)

In [99]:
# Delete outliers from the dataset using the IQR method (EXTRA)
for x in data.columns[0:9]:
    q75,q25 = np.percentile(data.loc[:,x],[75,25])
    intr_qr = q75-q25

    max = q75+(1.5*intr_qr)
    min = q25-(1.5*intr_qr)

    data.loc[data[x] < min,x] = np.nan
    data.loc[data[x] > max,x] = np.nan

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         19353 non-null  float64
 4   total_bedrooms      19334 non-null  float64
 5   population          19444 non-null  float64
 6   households          19420 non-null  float64
 7   median_income       19959 non-null  float64
 8   median_house_value  19569 non-null  float64
 9   <1H OCEAN           20640 non-null  uint8
 10  INLAND              20640 non-null  uint8
 11  ISLAND              20640 non-null  uint8
 12  NEAR BAY            20640 non-null  uint8
 13  NEAR OCEAN          20640 non-null  uint8
dtypes: float64(9), uint8(5)
memory usage: 1.5 MB